/* Import de Baloo 2 */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Baloo 2', cursive;
  -webkit-font-smoothing: antialiased;

  /* Tes couleurs */
  background-color: #bff104;
  color: #000000;
}

/* On s'assure que les titres sont bien gras */
h1, h2, h3 {
  font-weight: 800;
}

button, input {
  font-family: 'Baloo 2', cursive;
  font-weight: 700;
}